*{
  font-family: Figtree, Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0 0 100px 0;
  background-color: #F0EAE4;
}

main {
  padding: 1rem;
}

h1, h2, h3{
  margin-top:0;
  font-weight: 600;
}

.opacity-50{
  opacity: .5;
}

.heading{
  position: fixed;
  width:calc(100% - 2rem);
  z-index: 5;
  background:#F0EAE4;
  top:0;
  padding-top:.5rem;
  padding-bottom:.5rem;
  height: 48px;

}

#bird-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom:2rem;
  padding-top:3rem;
}

.view {
  display: none;
}

.nav-item {
  width: 100%;
  background-color: white;
  border: none;
  padding: 1rem;
  font-size: .85rem;
  cursor: pointer;
}



#bottom-navbar {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.bird-button {
  background-color: lightblue;
  border: none;
  padding: 0.5rem .5rem 1.25rem .5rem;
  cursor: pointer;
  border-radius:10px;
  aspect-ratio: 1/.8;
  position: relative;
}

.bird-button .bird-name{
  font-weight: 500;
  display: block;
  font-size:1rem;
}
.bird-button .bird-points{
  display: block;
  position: absolute;
  bottom:8px;
  width:calc(100% - 1rem);
  text-align: center;
  opacity: 0.6;
  background:rgba(255, 255, 255, .5);
  border-radius:10px;
  padding:2px 0;
  font-weight: 600;
}
.bird-button.spotted {
  background-color: coral;
  color:#fff;
}

/* ... */
.outing-info {
  display: flex;
  flex-direction: column;
}

.outing-info input, .outing-info textarea, .outing-info select {
  margin-bottom: 1rem;
  width: calc(100% - 2rem - 4px);
  border-radius:10px;
  font-size:1rem;
  border:2px solid coral;
}

.outing-info textarea {
  width: calc(100% - 2rem - 4px);
  height: 100px;
  padding:1rem;
}

.outing-info select {
  width: 100%;
  padding:1rem;
}

@media screen and (min-width: 768px) {
  .outing-info {
    flex-direction: row;
  }

  .outing-info input, .outing-info textarea {
    margin-right: 1rem;
    flex: 1;
  }
}
/* ... */


input{
  padding:1rem;
}

#past-outings-list{
  padding-top:3rem;
}
.past-outing{
  border-radius:10px;
  background-color:#fff;
  padding:1rem 1rem .5rem;
  margin-bottom:1rem;
  position: relative;
}

.past-outing h3{
  background:url(icon-location.svg) no-repeat -5px top;
  background-size: auto 100%;
  padding-left: 1.5rem;
}

.past-outing a:last-child{
  text-decoration: none;
  font-size:.75rem;
  font-weight: 500;
  top:1rem;
  right:1rem;
  position: absolute;
  color:darkred !important;
  opacity: .5;
}

#save-outing, #add-bird, #save-settings, #add-location, #save-locations{
  width:100%;
  padding:1rem;
  background-color:coral;
  border:0;
  color:#fff;
  border-radius:10px;
  font-size:1rem;
  font-weight: 600;
  margin-top:1rem;
}

#save-settings, #save-locations{
  background-color:forestgreen;
  margin-top:1rem;
}

#reset-defaults{
  text-align:center;
  display: block;
  margin-top:1rem;
  color:forestgreen;
  margin-bottom:3rem;
}


.heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom:1rem;
}
.heading h1{
  margin-bottom:0;
}
.score{
  border-radius:10px;
  display: inline-flex;
  gap:10px;
  align-items: center;
  background:coral;
  color:#fff;
  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  padding:5px 15px 5px 10px;
  margin:0;
}

.nav-item {
  display: flex;
  gap:4px;
  flex-direction: column;
  align-items: center;
  opacity: 0.5;
}

.nav-item.active{
  opacity: 1;
  font-weight: 800;
}

.nav-item.active span {
  color:coral;
  font-weight: 600;
}

.settings-row input, #new-location{
  outline:1px solid #ccc;
  border:0;
  border-radius: 0;
  font-size:1rem;
}

.settings-row:first-child input:first-child{
  border-radius:10px 0 0 0;
}
.settings-row:first-child input:last-child{
  border-radius:0 10px 0 0;
}

.settings-row:last-child input:first-child{
  border-radius:0 0 0 10px ;
}
.settings-row:last-child input:last-child{
  border-radius:0 0 10px 0;
}

.settings-row:last-child{
  
}

.settings-row input:first-child{
  width:calc(75% - 2rem);
}
.settings-row input:last-child{
  width:calc(25% - 2rem);
}

.settings-row input:only-child, #new-location{
  width:calc(100% - 2rem);
}

.settings-row:first-child input:only-child{
  border-radius:10px 10px 0 0;
}
.settings-row:last-child input:only-child{
  border-radius:0 0 0 0;
}
#new-location{
  border-radius:0 0 10px 10px;
}

.empty-outings{
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    justify-content: center;
    height: calc(100vh - 160px);
}
.empty-outings img{
  opacity: .5;
  max-width: 60%;
}
.empty-outings h3{
  font-size:1.5rem;
  text-align: center;
  padding:0 2rem;
  font-weight: 600;
}
.empty-outings h3 span{
  opacity: .5;
}

.well{
  border-radius: 10px;
  background:lightcoral;
  color:#fff;
  padding:1rem;
  font-size:1.5rem;
  font-weight: 500;
  margin-bottom:3rem;
}
.well span{
  opacity: .75;
}

.flex-label{
  display: flex;
  opacity: 0.5;
  margin-bottom:.5rem;
}
.flex-label p{
  margin:0;
}
.flex-label p:first-child{
  width:calc(75%)
}
.flex-label p:last-child{
  width:calc(25% - .6rem);
  text-align: center;
}
.point-input{
  text-align: center;
}

.notes{
  margin-top:1rem;
}

.notes .label{
  display: block;
}

.past-outing h4{
  font-weight: 600;
  margin-bottom:0;
}
.past-outing ul{
  margin-top:.5rem;
  padding-left:1rem;
}



.card{
  background:#fff;
  border-radius:10px;
  overflow: hidden;
  display: flex;
  margin-bottom:1rem;
  position: relative;
}

.card .map{
  width:30%;
  line-height: 0;
}
.card .map {
  background-size:140% auto;
  background-position: center center;
  position: relative;
}
.card .map:after{
  top:0; right:0; left:0; bottom:0;
  display: block;
  content:" ";
  background-color: lightcoral;
  position: absolute;
  opacity: 0.2;
  z-index: 1;
}
.card .date{
  opacity:.5;
  font-size:.85rem;
  line-height: 1;
  margin-bottom:.2rem;
  padding:0 1.5rem;

}
.card .title{
  font-size:1.35rem;
  line-height: 1;
  padding:0 1rem 0 1.5rem;
}
.card .body{
  width:70%;
  padding:1.5rem 0;
}
.card .birds{
  overflow: scroll;
  white-space: nowrap;
  margin-top:2.5rem;
  padding:0 1.5rem;
}
.card .birds::-webkit-scrollbar {
  display: none;
}
.card .bird{
  background-color: forestgreen;
  color:#fff;
  display: inline-block;
  padding:6px 8px;
  border-radius:8px;
  line-height: 1.6rem;
  margin-right:4px;
}
.card .bird span{
  background:rgba(255, 255, 255, .5);
  border-radius:100px;
  width:20px;
  height:20px;
  line-height: 20px;
  text-align: center;
  font-weight: 600;
  font-size:.8rem;
  display: inline-block;
  margin-left:4px;
}
.card .score{
  position: absolute;
  bottom:1.5rem;
  left:50%;
  transform: translateX(-50%);
  font-size:1rem;
  z-index: 2;
}
.card .drop{
  position: absolute;
  top:0;
  right:0;
  padding:1rem .5rem 1rem 1rem;
  font-size:.8rem;
  text-decoration: none;
  opacity: 0.5;
}

h1{
  display: flex;
  align-items: center;
  gap:.5rem;
}
